.home-container {
  margin: 20px;
}

.event-list {
  justify-content: left;
  margin: 50px 13%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-list a {
  width: 25%;
  height: 350px;
  text-decoration: none;
  margin-bottom: 20px;
}