.select-tickets-form {
  height: 100%;
  box-sizing: border-box;
}

.ticket-option {
  display: flex;
  margin: 30px 0;
}

.ticket-option label {
  width: 80%;
}

.ticket-option input {
  width: 20%;
}